.place__title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  align-self: center;
  padding: 0;
  grid-column: 2/2;
  grid-row: 1/2;
  grid-area: title;
}

@media screen and (max-width: 830px) {
  .place__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .place__title {
    max-width: 240px;
  }
}
