.place__title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-top: 62px;
  padding: 0;
  grid-column: 2/2;
  grid-row: 1/2;
  grid-area: title;
}

@media screen and (max-width: 830px) {
  .place__title {
    font-size: 24px;
    margin-top: 32px;
  }
}