.header__menu-item {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  color: black;
  transition: all 0.2s ease-out;
}

.header__menu-item:hover {
  color: #fecda7;
  opacity: 0.8;
}
