.places {
  display: grid;
  background-color: #f2f2f2;
  justify-content: center;
  -webkit-box-shadow: 5px 0px 15px 10px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 5px 0px 15px 10px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 0px 15px 10px rgba(0, 0, 0, 0.47);
}