.place__image {
  width: min(50vw, 640px);
  aspect-ratio: 6/5;
  object-fit: cover;
  grid-column: 1/1;
  grid-row: 1/3;
  grid-area: image;
}

/* В макете 1440 на 1200 */

@media screen and (max-width: 725px) {
  .place__image {
    width: 100vw;
  }
}
