.footer__animation_two-penult {
  display: block;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 4s;
}

@keyframes wave {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY();
  }
}
