.place__text {
  grid-column: 2/2;
  grid-row: 2/3;
  grid-area: text;
  max-width: 370px;
}

@media screen and (max-width: 725px) {
  .place__text {
    margin-bottom: 32px;
    max-width: calc(100vw - 2*40px);
  }
}