.content__intro {
  margin: 0 70px;
}

@media screen and (max-width: 750px) {
  .content__intro {
    margin: 0 40px;
  }
}

@media screen and (max-width: 550px) {
  .content__intro {
    margin: 0 auto;
  }
}