.intro {
  max-width: calc(100vw - 70px*2);
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: 38%;
  grid-template-areas:
    "title image"
    "subtitle image";
  row-gap: 27px;
  column-gap: 98px;
}

@media screen and (max-width: 870px) {
  .intro {
    grid-template-rows: 28%;
  }
}

@media screen and (max-width: 665px) {
  .intro {
    column-gap: 49px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    justify-items: center;
    /* grid-template-columns: minmax(min-content, max-content); */
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
    "image"
    "title"
    "subtitle";
    column-gap: 0;
  }
}


@media screen and (max-width: 750px) {
  .intro {
    max-width: calc(100vw - 40px*2);
  }
}