.header__report {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  color: black;
  align-self: center;
  transition: all 0.2s ease-out;
}

.header__report:hover {
  color: red;
  opacity: 0.8;
}