.header__report {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 100%;
  color: black;
  align-self: flex-end;
  transition: all 0.2s ease-out;
}

.header__report:hover {
  color: red;
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .header__report {
    position: absolute;
    right: 40px;
    top: 30px;
  }
}