.place {
  display: grid;
  grid-template-areas:
    "image title"
    "image text";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 72px;
  row-gap: 20px;
}

.place:nth-of-type(2n) {
  display: grid;
  grid-template-areas:
    "title image"
    "text image";
  row-gap: 20px;
  padding-left: 72px;
}

.place:last-child {
  grid-template-rows: 41%;
}

@media screen and (max-width: 1000px) {
  .place {
    column-gap: 25px;
    grid-template-rows: 25%;  
  }
  .place:last-child {
    grid-template-rows: 25%;
  }
}

@media screen and (max-width: 725px) {
  .place {
    justify-items: center;
    grid-template-areas:
    "title"
    "text"
    "image";
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: minmax(min-content, max-content);
  }
  .place:nth-of-type(2n) {
    grid-template-areas:
    "title"
    "text"
    "image";
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    padding-left: 0;
  }
  .place:last-child {
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}