.header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  column-gap: 35px;
}

@media screen and (max-width: 550px) {
  .header__menu-list {
    flex-direction: column;
  }
}
