.intro__image {
  max-width: min(27.813vw, 356px);
  aspect-ratio: 1;
  grid-area: image;
  object-fit: cover;
}

/* в макете 800 на 800 */

@media screen and (max-width: 835px) {
  .intro__image {
    max-width: max(27.813vw, 230px);
  }
}