.footer__animation_two-last {
  display: block;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1.09, 0.56, 0.38);
}

@keyframes wave {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY();
  }
}
