.footer__animation_t {
  display: block;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes wave {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY();
  }
}
