.footer__animation_t {
  display: block;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.13, 0.47, 0.74, 0.77);
}

@keyframes wave {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY();
  }
}
