.footer__animation_e {
  display: block;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.22, 0.36, 0.74, 0.77);
}

@keyframes wave {
  0% {
  }
  50% {
    transform: translateY(8px);
  }
  100% {
  }
}
