.footer__animation_e {
  display: block;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 1s;
}

@keyframes wave {
  0% {
  }
  50% {
    transform: translateY(5px);
  }
  100% {
  }
}
