.intro__title {
  text-transform: uppercase;
  word-spacing: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #fecda7;
  grid-area: title;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

