.footer__animation_m {
  display: block;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.69, -0.28, 0.75, 0.58);
}

@keyframes wave {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY();
  }
}
